#your-groups-icon {
    position: absolute; 
    top: 295px; 
    left: 570px; 
    width: 200px;
}

.icon-titles {
    color: #341975;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.icon-titles:hover {
    text-decoration: underline;
}

#add-friends-icon {
    position: absolute; 
    top: 295px; 
    left: 1270px; 
    width: 200px;
}

#your-alarms-icon {
    position: absolute; 
    top: 550px; 
    left: 900px; 
    width: 200px;
}