<!DOCTYPE html>
<html>
<head>
  <title>CoAlarm</title>
  <link rel="stylesheet" href="../assets/css/principal_after_login_style.css">
  <link rel="stylesheet" href="../assets/css/menu.css">
  <link rel="stylesheet" href="../assets/css/list_groups.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="bar-container">
    <script src="../assets/js/lateral_bar.js"></script>
  </div>
  <div id="form-container"></div>
    <script src="../assets/js/list_groups.js"></script>
  </div>
</body>
</html>