<!DOCTYPE html>
<html>
<head>
  <title>CoAlarm</title>
  <link rel="stylesheet" href="../assets/css/principal_styles.css">
  <link rel="stylesheet" href="../assets/css/form_input_styles.css">
  <link rel="stylesheet" href="../assets/css/form_button.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="title-container"></div>
        <script src="../assets/js/principal_title.js"></script>
    </div>

    <div id="form-container"></div>
        <script src="../assets/js/register_form.js"></script>
    </div>
    
</body>
</html>